form .button-group .form-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #7176d3;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

form .button-group .form-link:hover {
  background-color: #9ea1e8;
  transform: translateY(-2px);
}
