.header-no-nav {
  padding: 20px;
}

.form-container {
  background-color: #3f4276;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
  padding: 40px;
  text-align: center;
}

.form-header {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 25px;
  text-align: left;
  min-width: 90%;
}
h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
}

input,
select {
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 3px solid #62659e;
  font-size: 16px;
  transition: border-color 0.3s;
  background-color: #62659e;
  border-radius: 4px;
  color: white;
}

input:focus {
  outline: none;
  border-bottom-color: #9748e1;
}

input::placeholder {
  color: #bbbbbb;
  font-weight: 500;
}

form button[type="submit"],
.download {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #8115f4 0%, #a625fc 100%);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s;
}

form button[type="submit"]:hover,
.download:hover {
  background: linear-gradient(to right, #3a4cc2, #8a00ca);
}
p#validation {
  border-radius: 4px;
  width: fit-content;
  padding: 7px;
  margin-bottom: 15px;
}
